body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 204, 179);
}

/* ------ styles for channel bar display above chat window ------ */

#channel-bar {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 2vh;
    background-color: gray;
}

button {
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

button:link {
    color: gold;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

/* ------ chat window styles ------ */

#chat-window {
    background-color: whitesmoke;
    height: 70vh;
    width: 82vw;
    margin-left: 2vw;
    overflow: auto;
}

#lower-pane {
    display: flex;
}

#channel-buttons {
    margin-top: 3vh;
    margin-left: 2vw;
}


/* ------ styles for the user's chat form ------ */

#form-wrapper {
    display: flex;
    margin-bottom: 50vh;
}

#form {
    display: flex;
}

#channel-wrapper {
    display: flex;
    flex-direction: column;
}

#channel-title {
    font-size: .9rem;
    font-weight: bold;
    color: green;
}

#channel-link {
    font-size: 16pt;
    background-color: lightcoral
}

#author {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: .7rem;
}

#message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    width: 50vh;
}

#submit-button {
    width: 10vw;
}
